<div class="row">
  <div *ngFor="let article of articles| async" class="list-group-item col-lg-4 card" style="width: : 19rem;">
    <div class="card-body">
      <p class="card-text">{{article.id}}</p>
      <p class="card-text">{{article.brand}}</p>
      <p class="card-text">{{article.flag}}</p>
      <p class="card-text">{{article.model}}</p>
      <p class="card-text">{{article.logo}}</p>
      <p class="card-text">{{article.image}}</p>
    </div>
  </div>
</div>
